<div class="container">
  <div class="row justify-content-center py-5">
    <h3 class="fw-bold">本当に退会しますか？</h3>
  </div>
  <div class="row justify-content-center py-5">
    <h5 class="text-center">
      退会すると、ユーザー登録情報や各お酒の詳細、<br>
      これまでのいいねの閲覧、お酒の投稿などができなくなります。<br>
      退会する場合は、「退会する」をクリックしてください。
    </h5>
  </div>
  <div class="text-center py-5">
    <%= link_to "退会しない", users_my_page_path, class: "btn btn-primary btn-lg px-3 mx-5" %>
    <%= link_to "退会する", users_out_path, method: :patch, data: { confirm: "本当に退会しますか？" }, class: "btn btn-danger btn-lg px-3 mx-5" %>
  </div>
</div>
