<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 py-3 pt-2 mt-5 text-light bg-image"
         style="background-image: url('https://cdn.pixabay.com/photo/2014/11/22/18/38/wine-541922_1280.jpg');
                background-position: right 40% top 45%;
                background-size: cover;">
      <h3>ワイン</h3>
      <p class="px-5 mx-5">
        ワインは果実(ブドウやリンゴ)が原料の醸造酒を、樽で熟成させたお酒す。主な種類として、<br>
        スティルワイン(赤・白・ロゼ)といういわゆる普通のワインと、スパークリングワインという炭酸ガスを含んだものが知られています。
      </p>
    </div>

    <div class="col-12 py-3 pt-2 mt-5 text-light bg-image"
         style="background-image: url('https://cdn.pixabay.com/photo/2015/06/24/13/31/beer-820011_1280.jpg');
                background-position: left 40% bottom 30%;
                background-size: cover;">
      <h3>ビール</h3>
      <p class="px-5 mx-5">
        ビールは麦芽を主原料として醸造した炭酸ガスを含むお酒で、苦みと泡が特徴のお酒です。<br>
        日本においてもっともメジャーなお酒の一つで、多くの種類が売られています。
      </p>
    </div>

    <div class="col-12 py-3 pt-2 mt-5 text-light bg-image"
         style="background-image: url('https://media.istockphoto.com/photos/man-pouring-sake-into-sipping-bowl-picture-id943510306?k=20&m=943510306&s=612x612&w=0&h=N1amBgn5_2WHjBVhI17qpWiA2leCbwypx2VQn6DjfdE=');
                background-position: right 45% bottom 35%;
                background-size: cover;">
      <h3>日本酒</h3>
      <p class="px-5 mx-5">
        日本を代表する醸造酒。米を主原料とした醸造酒の一種で、<br>
        精米歩合や造り方よって様々な種類があり、飲み比べながら楽しめるお酒です。<br>
      </p>
    </div>

    <div class="col-12 py-3 pt-2 mt-5 text-light bg-image"
         style="background-image: url('https://media.istockphoto.com/photos/whiskey-on-the-rocks-picture-id477584940?k=20&m=477584940&s=612x612&w=0&h=LwWyJpD-WgX7ssrys0quU87MvrFDIjm5q11jnXoADEY=');
                background-position: left 20% bottom 40%;
                background-size: cover;">
      <h3>ウイスキー</h3>
      <p class="px-5 mx-5">
        ウイスキーは穀物(大麦や小麦、トウモロコシ、ライ麦など)が原料の蒸留酒を、樽で熟成させたお酒です。<br>
        国ごとで最低熟成年数や蒸留回数などが細かく定められており、原料が同じでも、様々な味わいが楽しめるお酒です。
      </p>
    </div>

    <div class="col-12 py-3 pt-2 mt-5 text-light bg-image"
         style="background-image: url('https://media.istockphoto.com/photos/luxurious-and-expensive-french-brandy-picture-id1095502794?k=20&m=1095502794&s=612x612&w=0&h=teAjpZsyIuZ5ziec9XsnVpSHLy2Y7yRKPzpqGvd3y6I=');
                background-position: right 20% bottom 40%;
                background-size: cover;">
      <h3>ブランデー</h3>
      <p class="px-5 mx-5">
        ブランデーは果実を原料とした蒸留酒で、フランスが主な生産地となっています。<br>
        製法や産地、原料によって、コニャックやアルマニャック、カルバドスなどの種類があります。
      </p>
    </div>

    <div class="col-12 py-3 pt-2 mt-5 text-light bg-image"
         style="background-image: url('https://cdn.pixabay.com/photo/2019/06/30/02/22/cocktail-4307170__340.jpg');
                background-position: right 50% top 30%;
                background-size: cover;">
      <h3>ジン</h3>
      <p class="px-5 mx-5">
        ジンは穀物を原料とした蒸留酒で、蒸留したものにボタニカル(ハーブや果物の皮、スパイスなど草根木皮)で<br>
        風味づけされたお酒です。<br>
        イギリスとオランダが主な生産地とされており、カクテルのベースに多く用いられます。
      </p>
    </div>

    <div class="col-12 py-3 pt-2 mt-5 text-light bg-image"
         style="background-image: url('https://cdn.pixabay.com/photo/2016/01/02/04/58/martini-1117932__340.jpg');
                background-position: right 50% top 20%;
                background-size: cover;">
      <h3>ウォッカ</h3>
      <p class="px-5 mx-5">
        ウォッカは穀物を原料とした蒸留酒で、ジン・ラム・テキーラとともに4大スピリッツとして知られています。<br>
        無味無臭に近いお酒でカクテルに多く用いられます。
      </p>
    </div>

    <div class="col-12 py-3 pt-2 mt-5 text-light bg-image"
         style="background-image: url('https://media.istockphoto.com/photos/whiskey-on-table-picture-id534682963?k=20&m=534682963&s=612x612&w=0&h=qflREACm0dc_k5R5Xo-OdL7vhOUCv5IGnNhe_JclOhU=');
                background-position: right 35% bottom 30%;
                background-size: cover;">
      <h3>ラム酒</h3>
      <p class="px-5 mx-5">
        ラム酒はサトウキビを主原料として造られる蒸留酒で、サトウキビのしぼり汁や砂糖に精製する際にできるモラセスという液体を使用しています。<br>
        カラメルを焦がしたような、ほろ苦く甘い味わいが特徴です。
      </p>
    </div>

    <div class="col-12 py-3 pt-2 mt-5 text-light bg-image"
         style="background-image: url('https://media.istockphoto.com/photos/mexican-gold-tequila-with-lime-and-salt-on-wooden-table-picture-id576716800?k=20&m=576716800&s=612x612&w=0&h=z-KFJP8L5__Vv3fA2H5T0kW67wa9LzLwn6mUHL8eVe4=');
                background-position: right 40% top 25%;
                background-size: cover">
      <h3>テキーラ</h3>
      <p class="px-5 mx-5">
        テキーラはメキシコを原産地としている蒸留酒です。ブルーアガヴェと呼ばれる植物を原料としており、<br>
        アルコール度数40％前後で商品化され、お酒の中でも強めお酒となっております。<br>
      </p>
    </div>

    <div class="col-12 py-3 pt-2 mt-5 text-light bg-image"
         style="background-image: url('https://media.istockphoto.com/photos/japanese-sake-picture-id665806116?k=20&m=665806116&s=612x612&w=0&h=lkFI4VlivNh2P1bOOoozIOpY_m6KXHwpPTQUkSk9sgg=');
                background-position: right 50% bottom 30%;
                background-size: cover;">
      <h3>焼酎</h3>
      <p class="px-5 mx-5">
        日本を代表する蒸留酒。原料は米、麦、トウモロコシなどの穀物類、さつま芋などを原料としています。<br>
        安価なものから高級なものまで、多くの種類存在しています。
      </p>
    </div>

    <div class="col-12 py-3 pt-5 mt-5">
      <h3>その他</h3>
      <p class="px-5 mx-5">ここでその他に分類しているお酒とは、主に混成酒と呼ばれるものになっています。</p>
    </div>

    <div class="col-12 py-3 pt-2 mt-2 text-light bg-image"
         style="background-image: url('https://media.istockphoto.com/photos/plum-wine-rock-picture-id978990668?k=20&m=978990668&s=612x612&w=0&h=ZUraoUoaO6YOW9GyDeEAsvnlBbAd5kg7YnKwetSajhw=');
                background-position: right 50% top 45%;
                background-size: auto;">
      <h5>果実酒</h5>
      <p class="px-5 mx-5">
        果実酒とは、焼酎などのお酒に果実を漬け込み熟成させたお酒で、梅酒などが挙げられます。
      </p>
    </div>

    <div class="col-12 py-3 pt-2 mt-2 text-light bg-image"
         style="background-image: url('https://media.istockphoto.com/photos/glass-of-blackcurrant-liqueur-or-syrup-with-leaves-and-berries-picture-id1289892133?k=20&m=1289892133&s=612x612&w=0&h=epJzC9LqEMTGM8XtVTA7r9M2QYnT_UJDaA6KPNbdbKw=');
                background-position: right 20% bottom 55%;
                background-size: cover;">
      <h5>リキュール</h5>
      <p class="px-5 mx-5">
        リキュールはベースとなるお酒(主にスピリッツ)に果物やハーブ、花などの香味を付け、<br>
        砂糖やシロップで甘みを加えたり着色したものを指します。
      </p>
    </div>

    <div class="col-12 py-3 pt-2 mt-2 text-light bg-image"
         style="background-image: url('https://media.istockphoto.com/photos/craft-cocktail-assortment-on-well-lit-bar-picture-id502072256?k=20&m=502072256&s=612x612&w=0&h=PAZzI4Y89gqb__OKiDpj9aaIrgncH5tKZnQYsBfTMvQ=');
                background-position: right 50% bottom 40%;
                background-size: cover;">
      <h5>カクテル・サワー</h5>
      <p class="px-5 mx-5">
        カクテルやサワーは、お酒に別のお酒や何かを加えたものです。<br>
        お酒とお酒やお酒と果汁、お酒とソーダを混ぜたものなど、様々なタイプがあります。
      </p>
    </div>

  </div>
</div>